@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	min-height: 100vh;
	overflow: hidden;
	margin: 0px;
    background: #000; 
}
h2{
	position: absolute;
	top: 20%;
	left: 47%;
 	color: #fff5;
	/* color: #0f0; */
	text-transform: upppercase;
	font-size: 7em;
	transform: translateX(-50%);
	font-weight: 900;
	z-index: 150;
}
.loginform{
	position : absolute;
	width: 300px;
	height: 200px;
	/* text-alin: center; */
	top: 40%;
	left: 43%;
	margin: auto;
	background-color: transparent;
}



input::-ms-input-placeholder { color: #00Ff00; }
input::-webkit-input-placeholder { color: #00ff00; }
input::-moz-placeholder { color: #00ff00; }

 input{
	text-align : center;
	size:auto;
	background-color: transparent;
	color: #00ff00;
	border: none;
}

button{
	background-color: transparent;
	color: #00ff00;
	border: none;
	text-align : center;
	margin-left: 20%;
	margin-right: auto;
}
a{
	margin-left:17%;
	margin-right:auto;
	size:auto
}



