@charset "UTF-8";

body{
	background: black;
	color: #00ff00;
}
.updateloginbackground{
	background: black;
	position: absolute;
	z-index: 100;
}
 form{
 	position: absolute;
 	z-index: 150;
 	top: 40%;
 	left: 40%;
 	color: #00ff00;
 	background-color: transparent;
 	cellspacing: 10;
 }
 body{
 	background-color: transparent;
 }
 h3{
	position: absolute;
	z-index: 150;
	top: 30%;
	left: 35%;
	color: #00ff00;
	font-size: 3em;
	font-weight: 900
}
.updatebtn{
	position: absolute;
	z-index: 150;
	top:90%;
	left: 25%;
}
nput::-ms-input-placeholder { color: #00Ff00;  }
input::-webkit-input-placeholder { color: #00ff00; }
input::-moz-placeholder { color: #00ff00; }

input{
	background-color: transparent;
	text-align: center;
}
placeholder{
	color: #00ff00;
	}
select{
	background-color: transparent;
	color: #00ff00;
	text-align: center;
	top: 67%;
	left: 50%;
}
select.option{
	background-color: transparent;
	
}

.r{
	position: absolute;
	top: 67;
	left: 0%;
	
}

input[type='radio'],
input[type='radio']:checked {
  appearance: none	;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 100%;
  margin-right: 0.1rem;
  background-color: #00ff00;
}


input[type='radio']:checked {
  background-color: #fff5;
}
 